
        <div class="card col-md-4 mx-auto mt-5">
            <div class="card-body">
                <h3 class="text-center">Registro</h3>
                <form>
                    <div class="form-group mt-4">
                        <label for="correo">Correo electrónico: </label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0 btn-lg btn-block">Regístrame!</button>
                </form>
                <div class="form-group mt-3">
                <p> ¿Tienes cuenta? <a [routerLink]="['/login']">Inicia sesión</a></p>
                </div>
            </div>
        </div>