<div class="card col-md-4 mx-auto mt-5">
            <div class="card-body">
                <h4 class="text-center">Inicio de sesión</h4>
                <div class="form-group mt-4">
                    <div class="form-group">
                        <a type="submit" [routerLink]="['/login']" class="btn btn-outline-warning my-2 my-sm-0 btn-lg btn-block">Correo electrónico</a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-danger my-2 my-sm-0 btn-lg btn-block">Google</a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-primary my-2 my-sm-0 btn-lg btn-block">Facebook</a>
                    </div>       
                </div>
            </div>
        </div>
